<?xml version="1.0"?>
<!-- https://docs.phpunit.de/en/11.4/configuration.html -->
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    displayDetailsOnPhpunitDeprecations="true"
    failOnDeprecation="true"
    failOnEmptyTestSuite="true"
    failOnNotice="true"
    failOnPhpunitDeprecation="true"
    failOnRisky="true"
    failOnWarning="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
>
    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage
        disableCodeCoverageIgnore="false"
    >
        <report>
            <html outputDirectory="public/coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
